* {
  box-sizing: border-box;
}

.holder{
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 20px;
  flex-wrap: wrap;
}
.box1{
  background-color:rgb(240, 209, 186);
  padding: 20px;
  flex: 50%;
}
.box2{
  background-color: aqua;
  padding: 20px;
  flex: 50%;
}

@media (max-width: 800px) {
  .box1,box2 {
    flex: 100%;
  }
}

